@import '../../css-helper/prefix.scss';

#light .header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 6em;
    width: 100%;
    padding: 2em;
    background-color: #fff;
}

#dark .header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 6em;
    width: 100%;
    padding: 2em;
    background-color: #585858;
}

.switch {
    position: absolute;
    top: 35px;
    right: 50px;
  }

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 6em;
    width: 100%;
    padding: 2em;

    &__logo {
        width: 150px;
    }

    &__buttoncontainer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        width: 30%;

        button {
            width: 6em;
            padding: 0.5em;
            color: #fff;
            border: none;
            background-color: #732DC3;
            margin: 0.6em;
            border-radius: 0.5em;
            font-size: 1.1rem;
        }
    }
}
